beautifulsoup4
bs4
certifi
Click
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
Pillow
pymongo
six
soupsieve
Werkzeug
chardet
# get
idna
# post
public
query-string
# request
requests
urllib3
wincertstore
# beautifulsoup4==4.8.1
# bs4==0.0.1
# certifi==2019.9.11
# Click==7.0
# Flask==1.1.1
# Flask-Cors==3.0.8
# gunicorn==20.0.4
# itsdangerous==1.1.0
# Jinja2==2.10.3
# MarkupSafe==1.1.1
# numpy==1.21.2
# opencv-python==4.5.3.56
# Pillow
# pymongo==3.9.0
# six==1.13.0
# soupsieve==1.9.5
# Werkzeug==0.16.0
# chardet==3.0.4
# get==2019.4.13
# idna==2.8
# post==2019.4.13
# public==2019.4.13
# query-string==2019.4.13
# request==2019.4.13
# requests==2.22.0
# urllib3==1.25.7
# wincertstore==0.2